.commentsContainer {
  margin-top: 3rem;
}

.commentsHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.commentsBody {
  margin: 0.25rem 0;
}

.commentDetail {
  padding: 1rem 0;
  border-bottom: 1px dotted #000;
}
